body {
    background: #000000;
    border-radius: 10px;
    color: aliceblue;
    border-color: 2px rgb(79, 79, 255);
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.full-bar {
    height: 40px;
    width: 100%;
    /* Make the bar draggable */
}

.bar {
    user-select: none;
    -webkit-app-region: drag;
    width: 90%;
    top: 0;
    height: 40px;
    left: -20px;
    position: absolute;
}

.pageTitle {
    position: absolute;
    top: 20px;
}

#closeBar {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    /* overflow: hidden; */
}

#closeBar li {
    float: right;
    margin: -5px 10px 0 0;
}

#closeBar li div {
    display: block;
}

.barButton {
    float: left;
    display: grid;
    gap: 50px;
}

#minimize i {
    top: 5px;
    position: absolute;
    right: 50px;
}

.container {
    margin: 20px;
    align-items: center;
    text-align: center;
    padding: 30px;
}

table {
    border-collapse: collapse;
    width: 90%;
    left: 40px;
    position: relative;
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    position: relative;
}

table th {
    background-color: #f2f2f2;
    color: black;
}

input {
    min-width: 120px!important;
    max-width: 10.99%!important;
    position: absolute;
    bottom: 6px;
    /* transition: width 0.25s; */
    /* text-align: center; */
}

table td input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

.submit {
    position: absolute;
    color: #FFFFFF;
    text-shadow: 0 0 5px black;
    cursor: pointer;
    width: 124px;
    height: 48px;
    bottom: 0;
    right: 0;
    margin: 20px;
    background: radial-gradient(circle at 90% 10%, #657EFF, #000000);
    box-shadow: 0 0 2px white;
    border-radius: 44px;
}

#footerBar li {
    display: inline;
}

.inputBar {
    position: absolute;
    width: 470px;
    height: 40px;
    bottom: 0;
    right: 154px;
    margin: 20px;
    font-weight: 500;
    background: #FFFFFF;
    padding-left: 20px;
    border-radius: 44px;
    background: linear-gradient(#ffffff, #1b1b1b);
}

.menuBtn {
    position: absolute;
    width: 48px;
    text-align: center;
    color: #FFFFFF;
    height: 48px;
    bottom: 0;
    left: 1px;
    margin: 20px;
    background: #D9D9D9;
    background: radial-gradient(circle at 99% 1%, #D9D9D9, #000000);
    box-shadow: 0 0 2px white;
    border-radius: 44px;
}

.menuBtn i {
    padding-top: 3px;
    text-shadow: 0 0 5px black;
}

.menuSubBtn li button {
    width: 48px;
    height: 48px;
    left: 1px;
    margin: 20px;
    background: #D9D9D9;
    background: radial-gradient(circle at 99% 1%, #D9D9D9, #000000);
    box-shadow: 0 0 2px white;
    border-radius: 44px;
    position: absolute;
    color: #FFFFFF;
}

.inputBar[type="text"] {
    color: #ffffff;
    font-weight: 500;
    text-shadow: 0 0 7px rgb(0, 0, 0);
    /* Red color */
}

.inputBar[type="text"]::placeholder {
    color: #ffffff;
    text-shadow: 0 0 7px rgb(0, 0, 0);
}

.one {
    bottom: 60px;
}

.one i {
    position: relative;
    top: 2px;
}

.two {
    bottom: 180px;
}

.three {
    bottom: 119px;
}

.user {
    position: relative;
    bottom: 240px;
}